/* styles.css or index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-custom-red {
    background-color: rgb(248, 113, 113);
    
}
.alert-BOX {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  

*{
    font-family: 'Times New Roman', Times, serif;
} 
.button-one {
    border: 2px solid #4299e1; 
    color: white;
    font-weight: bold;
    border-radius: 0.375rem; 
    margin-top: 0.875rem; 
    margin-bottom: 0.625rem; 
    margin-left: 3rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    background-color: #4299e1; 
    transition: background-color 0.2s;
  }
  
  .button-one:hover {
    background-color: #3182ce; 
  }
  
  .alert-msg {
    width: 26.5rem; 
    padding-left: 2.5rem; 
    padding-right: 2.5rem; 
    padding-top: 1.25rem; 
    padding-bottom: 1.25rem; 
    border: 2px solid #f56565; 
    background-color: #fed7d7; 
    color: #e53e3e; 
    margin-left: 3rem; 
    font-weight: bold;
    margin-top: 0.875rem;
    border-radius: 0.5rem; 
  }
  .card-container {
    padding: 0.5rem; 
    max-width: 28rem; 
    margin: 0 auto; 
    border-radius: 0.75rem; 
    box-shadow: black;
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb; 
    margin-top: 0.875rem; 
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .text-content {
    padding: 20px;
  }
  
  .title {
    font-size: 25px;
    text-align: start;
  }
  
  .subtitle {
    color: grey;
  }
  